##  gitignore

# execute file and etc
#evapcal
#evapcal.o

# CASCADE temporary files
LEVDENS.TMP

# output data file
figure/
dat/
root/
cascadeDump/

# jobs
job/go*.sh*

# temporary file
*.*~
Makefile~
