##  gitignore

# execute file and etc
#evapcal
#evapcal.o

# CASCADE temporary files
LEVDENS.TMP
POPULMAT.TMP

# CASCADE output files
CASCADE.NEU
CASCADE.PLO
CASCADE.PRO
CASCADE.OUT
DUMP.OUT

# output data file
dat/*.dat
cascadeDump/*.dat
figure/
root/

# jobs
job/go*.sh*

# temporary file
*.*~
Makefile~
